.chord-popup{
  display: none;
}

.chord-main-wrap{
  display: flex;
  justify-content: space-between;
  section{
    width: 74%;
    padding-bottom: 70px;
  }
  aside{
    width: 24%;
    .versions, .recomended{
      background-color: #ededed;
      border-radius: 5px;
      box-shadow: 0px 1px 3px rgba(0,0,0,.25);
      padding: 1em 1.6em;
      margin-top: 26px;
      h4{
        font-size:24px;
        margin: 0 0 0.5em;
        padding: 0 0em;
      }
      ul{
        color: #333;
        margin: 0;
        padding: 0;
        li{
          padding: 0.5em 0em;
          &:not(:last-child){
            border-bottom: 2px solid #ff871c;
          }
          p{
            margin: 0;
          }
          &:hover{
            color: #ff871c;
            transition: color 100ms ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.utils{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #fb9f28;
  z-index: 2;
  .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    .utility-wrap{
      display: flex;
      align-items: center;
    }
    button{
      border: 1px solid #ff871c;
      background-color: #ffffff;
      color: #ff871c;
      padding: 0.5em 2em;
      border-radius: 2px;
      font-weight: 600;
      font-size: 12px;
      margin: 10px 1em;
      box-shadow: 0px 1px 3px rgba(0,0,0,.25);
      cursor: pointer;
      &:focus{
        outline: none
      }
      &:hover{
        transition: background-color 100ms ease-out, color 100ms ease-out;
        background-color: #ff871c;
        color: #ffffff
      }
    }
    img{
      width: 25px;
      margin: 0 0.5em;
    }
    p{
      color: #fff;
      font-size: 14px;
    }
    .space{
      width: 65px;
    }
  }
}

.artist{
  position: relative;
  h1{
    font-size: 48px;
    margin: 0.5em 0 0;
  }
  h3{
    font-size: 24px;
    margin: 0.25em 0 0.5em;
  }
  .more-info{
    color: #fff;
    width: 60px;
    background-color: #ff871c;
    border-radius: 4px;
    padding: 0.6em 1em;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0,0,0,.15);
    &:hover{
      background-color: #fb9f28;
      transition: background-color 100ms ease-in-out;
      cursor: pointer;
    }
  }
  i{
    position: absolute;
    font-size: 2em;
    top:0;
    right: 0;
    cursor: pointer;
    &.isFavourite{
      color: #ff8b24;
      &:hover{
        color: #999;
        transition: color 100ms ease-in-out;
      }
    }
    &.isNotFavourite{
      color: #999;
      &:hover{
        color: #ff8b24;
        transition: color 100ms ease-in-out;
      }
    }
  }
}

.feature-artist{
  margin-top: 1em;
  display: flex;
  background-color: #ededed;
  padding: 2em 1em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 3px rgba(0,0,0,.15);
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3em;
  }
  .info{
    padding-left: 2em;
    h2{
      font-size: 40px;
      margin: 0.3em 0 0.7em;
    }
    .tag{
      background-color: #ff871c;
      padding: 0.5em;
      color: #fff;
      border-radius: 0.25em;
      margin: 0 0.3em;
    }
    .summary{
      margin-top: 2em;
    }
    button{
      background-color: #ff871c;
      color: #fff;
      border: none;
      padding: 1em;
      border-radius: 0.3em;
      font-weight: 600;
      font-size: 0.725em;
      text-transform: unset;
      box-shadow: 0px 1px 3px rgba(0,0,0,.15);
      transition: color 200ms ease-in-out;
      &:hover{
        cursor: pointer;
        background-color: #ff8b24;
      }
    }
  }
}

#tuner-mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  top:0;
  right: 0;
  z-index: 999;
  display: none;
  cursor: pointer;
  &.show{
    display: block;
  }
  i{
    position: absolute;
    top: 1em;
    right: 1em;
    color: #fff;
    cursor: pointer;
  }
}

