.charts-wrap{
  display: flex;
  justify-content: space-between;
  .chart-list{
    width: 50%;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    .chart-list-item{
      background-color: #ededed;
      padding: 0 1em;
      margin: 0.25em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 1px 3px rgba(0,0,0,.15);
      i{
        position: relative;
        top: 2px;
        font-size: 18px;    
      }
      &:hover{
        background-color: #ffa71a;
        color: #fff;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
        cursor: pointer;
        p{
          text-decoration: underline;
        }
      }
    }
  }
}
.feature-artist{
  margin-top: 1em;
  display: flex;
  background-color: #ededed;
  padding: 2em 1em;
  border-radius: 0.5em;
  box-shadow: 0px 1px 3px rgba(0,0,0,.15);
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3em;
  }
  .info{
    padding-left: 2em;
    h2{
      font-size: 40px;
      margin: 0.3em 0 0.7em;
    }
    .tag{
      background-color: #ff871c;
      padding: 0.5em;
      color: #fff;
      border-radius: 0.25em;
      margin: 0 0.3em;
      box-shadow: 0px 1px 3px rgba(0,0,0,.15);
    }
    .summary{
      margin-top: 2em;
    }
    button{
      background-color: #ff871c;
      color: #fff;
      border: none;
      padding: 1em;
      border-radius: 0.3em;
      font-weight: 600;
      font-size: 0.725em;
      text-transform: unset;
      box-shadow: 0px 1px 3px rgba(0,0,0,.15);
      transition: color 200ms ease-in-out;
      &:hover{
        cursor: pointer;
        background-color: #ff8b24;
      }
    }
  }
}