.form-wrap{
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    padding: 1em 2em;
    background-color: #ededed;
    border-radius: 5px;
    label{
      font-size: 1em;
      margin: 7px 0;
    }
    input{
      padding: 0.5em 1em;
      border-radius: 3px;
      background-color: #fff;
      border: none;
      box-shadow: 0 2px 3px rgba(0,0,0,0.15);
      font-size: 1em;
      &:focus{
        outline: none;
        box-shadow: 0 2px 3px rgba(0,0,0,0.15), 0 0 8px #ff871c;
      }
    }
    button{
      margin: 12px 0;
      padding: 0.5em 1em;
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.15);
      font-size: 1em;
      background-color: #ff871c;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        transition: background-color 100ms ease-in-out;
        background-color: #ffa71a;
      }
    }
  }
}